/*PRE_REQUIST*/
section{
  margin:  auto;
  max-width: 50em;
}


/*HEADER CSS STARTS*/

header p{
  display: inline-block;
  font-family: Arial;
}
li{
  margin-left: 20px;

}
nav{
  display: inline-block;
  float: right;
}

ul li{
  display: inline-block;

}
a{
  text-decoration: none;
  color: lightgrey;
}
a:hover{
  color: black;
}
.backImage{
  clear: both;
  height:300px;
  width:100%;
}
.frontText{
  font-family:tahoma;
  color: #ffffff;
  padding-top: 96px;
  padding-left: 650px;
  margin-right: 1px;
  position:absolute;
  top:10px;
  text-align: center;
  width:300px;
}
div .frontText h1{
  border-radius: 25px;
  background: #34495e;
}
/*HEADER CSS ENDS*/



/*SECTION CSS STARTS*/
input{
   background-color:#051230;
   color: white;
}
.mainDiv{
  padding-top: 80px;
  display: inline-block;
}
.subDiv{
  width:35%;
 float: left;
 margin-left: 20px;
}


/*SECTION CSS STARTS*/
